<main>
  <div class="container">
    <div class="formulario">
      <div>
        <img src="../assets/undraw_navigation_re_wxx4.svg" alt="">
      </div>
      <div class="card">
        <h1>Buscar CEP: </h1>
        <div class="actions">
          <input [(ngModel)] = "cep" type="text">
          <button (click)="pesquisarCep()">Pesquisar</button>
        </div>
        <div class="texts">
          <h3>Logradouro: {{cepData.logradouro}} </h3>
          <h3>Bairro: {{cepData.bairro}} </h3>
          <h3>Cidade: {{cepData.localidade}} </h3>
          <h3>Estado: {{cepData.uf}} </h3>
        </div>
      </div>
    </div>
  </div>
</main>